<h1>How do I use Garth's Taco Delivery Service?</h1>
<p><h3>Welcome to the help page!  To use this application, one is able to click on the various pages on the navigation bar in the upper-left portion of the screen.  <br> To purchase a taco, click the "Add to Order" button. <br>  Once the "Add to Order" button has been clicked you may either "Buy More Tacos" or "Checkout" where you may pay for your order.</h3></p>
<p>Note: You may NOT leave any field blank when completing the checkout process.</p>
<%= image_tag("4.png", :alt => "rss feed") %>
