<h1>Garth's Taco Delivery Service Home</h1>
<p><h3>Welcome to Garth's Taco Delivery Service! <br>  Here we serve only the finest authentic tacos, enjoy! </h3></p>
<%= image_tag("1.jpg", :alt => "rss feed") %>
